<div class="card" style="margin-bottom:1rem;">
  <div class="card-body">
    <h4 class="card-title">
      <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
      <small class="pull-right text-warning">{{repo.stargazers_count}}
        <i class="fa fa-star"></i>
      </small>
    </h4>
    <p class="card-text">{{repo.description}}</p>
    <p>
      <span class="badge badge-primary">{{repo.watchers}} Watchers</span>
      <span class="badge badge-success">{{repo.forks}} Forks</span>
    </p>
  </div>
</div>
